.blog-detail {
  min-height: 100vh;
}

.blog-detail-post-container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  border-radius: 10px;
  background-color: snow;
}

.blog-detail-post-title {
  text-align: center;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.blog-detail-post-tag-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.blog-detail-tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.blog-detail-post-content {
  font-size: 1.1rem;
  line-height: 50px;
  width: 70%;
  margin: 20px auto;
  word-wrap: break-word;
}

@media screen and (max-width: 1280px) {
  .blog-detail {
    width: 100%;
    position: static;
  }

  .blog-detail-post-title {
    line-height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .blog-detail-post-title {
    font-size: 1.4rem;
    line-height: 30px;
    width: 100%;
  }

  .blog-detail-post-tag-date-container {
    width: 100%;
  }

  .blog-detail-post-content {
    font-size: 1.1rem;
    line-height: 40px;
    width: 100%;
  }
}
