.home-container {
  min-height: 105vh;
}

.about-me-introduction {
  /* min-height: 50vh; */
  /* background-color: blue; */
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* background-color: #fbfaf6; */
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); */
  /* padding: 20px; */
  padding-bottom: 50px;
  margin-bottom: 35px;

  border-bottom: 1px solid snow;
  /* background-color: red; */
}

.introduction-flexbox-1 {
  width: 60%;
  max-width: 1200px;
}

.introduction-text-box {
  padding-left: 20px;
}

.introduction-text-box p {
  line-height: 35px;
}

.introduction-flexbox-1 h4 {
  color: grey;
  margin-top: 0;
  padding-left: 20px;
}

.introduction-view-button {
  padding: 19px;
  border: none;
  border-radius: 20px;
  background-color: #3cba92;
  color: white;
  font-weight: bold;
  transition: 0.4s all;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.introduction-flexbox-2 {
  width: 40%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.introduction-flexbox-2 img {
  width: 35%;
  max-width: 180px;
  object-fit: fill;
}

.introduction-flexbox-2 .developer-img-1 {
  opacity: 1;
  transition: 1s ease-out;
}

.introduction-flexbox-2 .developer-img-2 {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s ease-out;
}

.about-me-tech-stack {
  max-width: 1920px;
  margin: auto;
  /* background-color: #fbfaf6; */
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* padding: 20px; */
  /* height: 100%; */
  /* min-height: 50vh; */
  /* background-color: blue; */
}

.tech-stack-short-description {
  color: grey;
  padding-left: 20px;
}

.tech-stack-flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.5rem 3rem;
  justify-content: center;
  align-items: center;
}

.tech-stack-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: auto;
  margin-right: 10px;
  text-align: center;
  transition: all 0.2s linear;
}

.tech-stack-flexbox img {
  width: 40%;
  max-width: 75px;
  transition: all 0.5s ease; /* 필터 전환 효과 */
}

@keyframes shine {
  to {
    background-position: 200% center; /* 배경 이미지를 오른쪽으로 이동시켜 "빛나는" 효과 생성 */
  }
}

.tech-stack-loading {
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.2); /* 밝은 배경색 */
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.546) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
  z-index: 100;
}

.tech-stack-title {
  transition: 0.5s all;
}

.tech-stack-border-line {
  width: 0%;
  height: 2px;
  transition: all 0.8s ease;
  background-color: #0ba360;
}

@media (hover: hover) {
  .introduction-view-button:hover {
    background-color: #0ba360;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .introduction-view-button:active {
    transform: scale(1.05);
    color: gold;
  }

  .tech-stack-flexbox:hover {
    transform: scale(1.12);
    cursor: pointer;
  }

  .tech-stack-flexbox:hover .tech-stack-title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .tech-stack-flexbox:hover .tech-stack-border-line {
    width: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .home-container {
    width: 100%;
    position: static;
  }

  .about-me-introduction {
    width: 100%;
    position: static;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 20px;
    min-height: unset;
  }

  .introduction-flexbox-1 {
    width: 100%;
  }

  .introduction-view-button {
    display: none;
  }

  .introduction-flexbox-2 {
    display: none;
  }

  .about-me-tech-stack {
    width: 100%;
    position: static;
  }
}

@media screen and (max-width: 767px) {
  .about-me-introduction {
    height: 100%;
  }

  .tech-stack-flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 0.5rem 3rem;
    justify-content: center;
    align-items: center;
  }

  .introduction-text-box {
    padding-left: unset;
  }

  .introduction-flexbox-1 h4 {
    padding-left: 0px;
  }

  .tech-stack-short-description {
    padding-left: 0px;
  }
}
