/* Contact Me */
.contact-me {
  min-height: 100vh;
  height: 100%;
}

.contact-me-flex-container {
  display: flex;
  gap: 30px;
}

.contact-me-flexbox {
  width: 100%;
  height: 100%;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  text-align: center;
}

.contact-me-flexbox:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me-flexbox:nth-child(1) button {
  margin-bottom: 30px;
}

textarea {
  width: 80%;
  box-sizing: border-box;
  height: 150px;
  padding: 5px;
  margin-bottom: 50px;
  resize: none;
  border-radius: 5px;
  border: none;
}

.flexbox {
  width: 100%;
  text-align: center;
  margin: 3px;
}

.flexbox img {
  width: 30%;
  max-width: 70px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: all 0.15s linear;
  border: 2px transparent solid;
}

.flexbox h2 {
  font-size: 17px;
}

.submit-button {
  background-color: white;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  transition: all 0.3s;
}

/* MOBILE - TABLET */
@media screen and (max-width: 1280px) {
  .contact-me {
    width: 100%;
    position: static;
  }

  .contact-me-flex-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-me-flexbox:nth-child(1) {
    padding: 10px;
    width: 80%;
  }

  textarea {
    width: 70%;
  }

  .contact-me-flexbox:nth-child(2) {
    flex-direction: column;
    width: 80%;
  }

  .flexbox img {
    width: 20%;
  }
}

/* ONLY PC */
@media (hover: hover) {
  .submit-button:hover {
    background-color: black;
    color: white;
  }

  .flexbox img:hover {
    transform: scale(1.1);
    border-bottom: 2px solid black;
  }
}

/* MOBILE - SMARTPHONE */
@media screen and (max-width: 767px) {
  .contact-me-flexbox:nth-child(1),
  .contact-me-flexbox:nth-child(2) {
    width: 100%;
  }

  textarea {
    width: 85%;
  }
}
