:root {
  --navbar-background-color: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  --container-background-color: linear-gradient(
    135deg,
    #fdfcfb 0%,
    #e2d1c3 100%
  );
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--container-background-color);
}

div {
  box-sizing: border-box;
}

p,
h4,
h3,
h2,
h1,
span,
li,
ul {
  transform: rotate(0.04deg);
}

/* common use */
.h1-green-left {
  padding-left: 10px;
  padding-bottom: 5px;
  border-left: solid #0ba360 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.container-layout {
  width: calc(100% - 300px);
  left: 300px;
  position: relative;
  padding: 20px;
  padding-left: 30px;
  opacity: 0;

  background: var(--container-background-color);

  animation: flash 0.7s 0.2s forwards;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.display-flex {
  display: flex;
}

.mg-left-right-auto {
  margin-left: auto;
  margin-right: auto;
}

@keyframes flash {
  to {
    opacity: 1;
  }
}
