:root {
  --navbar-background-color: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  --container-background-color: linear-gradient(
    135deg,
    #fdfcfb 0%,
    #e2d1c3 100%
  );
}

.link-no-decoration {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--container-background-color);
}

div {
  box-sizing: border-box;
}

p,
h4,
h3,
h2,
h1,
span,
li {
  transform: rotate(0.04deg);
}

/* common use */
.h1-green-left {
  padding: 10px;
  border-left: solid #0ba360 5px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.container-layout {
  width: calc(100% - 300px);
  left: 300px;
  position: relative;
  padding: 20px;
  padding-left: 30px;
  opacity: 0;
  background: var(--container-background-color);
  transform: translateY(10px);
  animation: flash 0.7s 0.2s forwards ease-out;
}

@keyframes flash {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.display-flex {
  display: flex;
}

.mg-left-right-auto {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .container-layout {
    padding: 30px;
  }
}
